.counter__container {
    border: #000000 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.counter__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter__value {
    margin: 0 10px;
}

.counter__controls>button {
    padding: 5px 15px;
    border-radius: 5px
}

.decrease_btn {
    background-color: #c0504d;
}

.increase_btn {
    background-color: #73e35a;
}